*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    font-family: gilroy;
    background-color: #d0d4d0;
}

#nav{
    height: 100px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-prt1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-prt1 img{
    height: 45px;
    padding-left: 20px;
}


#nav-prt2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 90px;
    font-size: 2.3vh;
    text-transform: uppercase;
}

#nav-prt3{
    display: flex;
    align-items: center;
    gap: 40px;
    padding-right: 20px;
}

#content{
    width: 100%;
    height: calc(100% - 100px);
    position: relative;
    display: flex;
}

#left{
    width: 40%;
    height: 100%;
    padding: 100px 100px;
    /* background-color: rgb(93, 27, 111); */
}

#left h5{
    opacity: .7;
    font-size: 2vh;
    color: #535353;
    margin-bottom: 28px;
}

#left h1{
    width: 95%;
    font-size: 7.5vh;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 26px;
}

#left p{
    width: 95%;
    font-size: 2.1vh;
    margin-bottom: 30px;
}

#left button{
    border-top-left-radius:  0px;
    background-color: black;
    color: #fff;
    font-size: 14px;
    padding: 14px 25px;
    border-radius: 50px;
    text-transform: uppercase;
}

#right{
    width: 60%;
    height: 100%;
    padding:100px;
    white-space:nowrap;
    overflow-x:auto;
    /* background-color:darkgoldenrod; */
}
#right::-webkit-scrollbar{
    display:none;
}

#elem{
    position: relative;
    background-color: #fff;
    height: 350px;
    width: 250px;
    border-radius:10px;
    display:inline-block;
    margin-right:15px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
}

#elem img{
    height: 75%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 10%;
}

#elem h4{
    position:absolute;
    bottom:0;
    right:0;
    background-color: #c2baba;
    padding: 5px;
    font-size: 15px;
    border-top-left-radius:5px;
}

#elem h5{
    position:absolute;
    bottom:30px;
    right:0;
    background-color: #000;
    color:#fff;
    padding: 5px;
    font-size: 10px;
    border-top-left-radius:5px;
}
